html, body {
  overflow-y:hidden;
  height:100%;
}

body {
	background-image: url("../images/background.png");
}
#studentSelector {
    text-align: center;
}

#studentList {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: scroll;
}

#resetBtnRow {
	padding-bottom: 5px;
}
#content {
	padding-top: 10px;
}
.studentListItm {
    margin: 2px 0 2px 0;
}